# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# GUN global
GPATH
GTAGS
GRTAGS

# Qt creator
*.pro.user
*.qm

# Visual Studio
*.vcxproj.user
*.db
*.opendb
ipch
x64
[B|b]uild*
[D|d]ebug*
[R|r]elease*
.vs
GeneratedFiles
[P|p]recompiled.h.cpp


# Python
__pycache__
*.pyc