[Desktop Entry]
Version=1.0
Name=Launchy
Comment=Keystroke Launcher
Exec=launchy %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=launchy_icon
Categories=Utility;


